body {
  font-family: 'Nunito Sans', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1263px;
  height: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  background-color: #131313;
  color: #fff;
  padding: 36px 0;
  font-size: 11px;
  /* height: 37px; */
  text-align: center;
}
.header__nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 95px;
  align-items: center;
}
.header__logo {
  color: #E3B873;
}
.header__list {
  display: flex;
  gap: 47px;  
}
.header__item {
  
}
.header__item:hover a{
  color: #E3B873;
}
.header__link {
  transition: color 0.3s ease;
}
.header__contact-information {
  display: flex;
  gap: 45px;
  align-items: center;
}
.header__phone {
  color: #E3B873;
  text-decoration: underline;
}
.header__request-a-call {
  width: 161px;
  height: 37px;
  border-radius: 2px;
  background: #E3B873;
  box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
  color: #FFF;
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  cursor: pointer;
}
.header__request-a-call:active {
  background: #e3b873bd;

}