* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1440px;
  /* max-width: 1263px; */
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  display: flex;
  background-color: #131313;
  color: #fff;
  padding: 36px 0;
  font-size: 11px;
  text-align: center;
}

.header__nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 95px;
  align-items: center;
}

.header__logo {
  color: #E3B873;
}

.header__list {
  display: flex;
  gap: 47px;
}

.header__item:hover a {
  color: #E3B873;
}

.header__link {
  transition: color 0.3s ease;
}

.header__contact-information {
  display: flex;
  gap: 45px;
  align-items: center;
}

.header__phone {
  color: #E3B873;
  text-decoration: underline;
}

.btn {
  text-align: center;
  font-style: italic;
  border-radius: 2px;
  background: #E3B873;
  box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
  border: none;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 11px;
}

.header__btn {
  width: 161px;
  height: 37px;
}

.btn:active {
  background: #dfaf63;
}

.main {
  margin-top: 109px;
}

.main__introduction {
  display: flex;
  flex-flow: column;
  background: no-repeat center/100% url(/img/main-main.jpg);
  color: #FFF;
  padding: 165px 0 208px 134px;
  position: relative;
  z-index: 0;
  /* для того, чтобы картинка затемнилась */
}

.main__introduction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  /* для того, чтобы картинка затемнилась */
}

.main__h1 {
  font-family: Yeseva One;
  font-size: 40px;
  line-height: 132.825%;
  text-transform: uppercase;
}

.main__h1_color-gold {
  color: #E3B873;
}

.main__text_margin {
  margin-top: 25px;
  margin-bottom: 31px;
}

.main__text_line-height {
  line-height: 32px;
}

.main__buttons {
  display: flex;
  gap: 20px;
}

.main__btn_width-207-height-51 {
  width: 207px;
  height: 51px;
}

.main__btn_transparent {
  background: transparent;
  box-shadow: none;
  border: 1px solid #FFF;
}

.main__btn_transparent:active {
  background: #000000;
}

.main__completed-projects {
  background: #131313;
  color: #fff;
  display: flex;

}

.main__text-block_margin {
  margin: 176px 50px 414px 134px;
}

.main__h2 {
  color: #E3B873;
  font-family: Yeseva One;
  font-size: 27px;
  font-weight: 400;
  line-height: 138.6%;
  letter-spacing: -1.89px;
  text-transform: uppercase;
}

.main__text {
  color: #FFF;
  font-size: 14px;
  line-height: 190.96%;
}

.main__text_margin-34-42 {
  margin-top: 34px;
  margin-bottom: 42px;
}

.main__h3_color-gold {
  color: #E3B873;
}

.main__h3 {
  font-family: Yeseva One;
  font-size: 18px;
  font-weight: 400;
  line-height: 138.6%;
  text-transform: uppercase;
}

.main__text-block_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 34px 34px;
  grid-auto-flow: row;
  grid-template-areas:
    "main__text-block_1 main__text-block_2"
    "main__text-block_3 main__text-block_4";
}

.main__text-block_1 {
  grid-area: main__text-block_1;
}

.main__text-block_2 {
  grid-area: main__text-block_2;
}

.main__text-block_3 {
  grid-area: main__text-block_3;
}

.main__text-block_4 {
  grid-area: main__text-block_4;
}

.main__slider {
  margin-top: 80px;
}

.main__switch-by-pressing {
  display: flex;
  gap: 60px;
  margin: 107px 0 52px;
}

.main__text-switch {
  color: rgba(255, 255, 255, 0.30);
  font-family: Yeseva One;
  font-size: 14px;
  line-height: 138.6%;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 9px;
}

.main__text-switch:hover {
  color: #E3B873;
  padding-bottom: 7px;
  border-bottom: 1px solid #E3B873;
}

.main__img img {
  width: 100%;
  object-fit: cover;
}

.main__img-completed-projects {
  position: relative;
  z-index: 0;
}

.main__img-completed-projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 1;
}

.main__sub-title {
  margin-top: 92px;
}

.main__h3_sub-title-color-fff {
  color: #FFF;

}

.main__h3_sub-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.6%;
  text-transform: uppercase;
}

.main__img_margin-31 {
  margin-left: 31px;
}

.main__completed-projects-sub {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__text_color-black {
  color: black;
}

.main__text_align-center {
  text-align: center;
}

.main__text_color-54-54-54 {
  color: rgba(54, 54, 54, 0.50);
}

.main__img_width-817px {
  width: 817px;
  z-index: 100;
  position: absolute;
  top: -248px;
  left: 308px;
}

.main__text_padding-top-267 {
  padding-top: 267px;
  text-align: center;
  position: relative;
}

.main__text_border-top::before {
  content: '';
  position: absolute;
  top: 240px;
  left: 230px;
  border: 1px solid #E3B873;
  border-radius: 30px;
  width: 55px;
}

.main__personal-information-input-block {
  display: flex;
  gap: 58px;
  margin: 91px 0 35px;
}

.main__input {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.80);
}

.main__input:focus {
  outline: none;
}

.main__input::placeholder {
  color: #363636;
}

.main__input-block {
  display: flex;
  flex-direction: column;
}

.main__button {
  width: 200px;
  max-height: 51px;
}

.main__label {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
}

.main__checkbox {
  display: none;
}

.main__fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.main__fake::before {
  content: "\2714";
  opacity: 0;
  transition: 0.2s;
}

.main__checkbox:checked+.main__fake::before {
  opacity: 1;
}

.main__types-of-repair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__h3_margin-top-147-bot-13 {
  margin: 147px 0 13px;
}

.main__img_max-width-114 {
  max-width: 114px;
}

.main__img_margin-bot-31px {
  margin-bottom: 31px;
}

.main__cards {
  display: flex;
  gap: 30px;

}

.main__card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__card-item_position-relative {
  position: relative;
}

.main__text-block {
  background-color: #fff;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
  width: 330px;
  height: 286px;
}

.main__text-block_position-absolute {
  position: absolute;
  top: 294px;
  z-index: 100;
}

.main__h3_margin-bot-13px {
  margin-bottom: 13px;
}

.main__text-block_padding {
  padding: 25px 105px 51px 32px;
}

.main__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__item {
  color: #959595;
  font-size: 13px;
}

.main__btn {
  font-family: Yeseva One;
  font-size: 18px;
  font-style: normal;
  box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
}

.main__btn_main-cards {
  width: 228px;
  height: 54px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__btn_main-cards:active {
  background: #E3B873;
}

.main__btn_position-relative {
  position: relative;
  top: 30px;
  left: -32px;
}

.main__customer-contact {
  display: flex;
  padding-top: 200px;
}

.color-36-36-36 {
  color: #363636;
}

.main-text__block_flex-align-center {
  display: flex;
  align-items: center;
}

.main__customer-contact-left {
  display: flex;
  flex-direction: column;
  gap: 53px;
  padding-top: 109px;
  margin-left: 249px;
  margin-right: 206px;
  position: relative;
  z-index: 1;
}

.main__customer-contact-left_background-img {
  position: absolute;
  z-index: -1;
  top: 1px;
  left: -526px;
}

.main__customer-contact-right {
  display: flex;
  flex-direction: column;
}

.main__personal-information-input-block_direction-column {
  display: flex;
  flex-direction: column;
  background: #131313;
}

.main__personal-information-input-block_padding {
  padding: 33px 49px 27px 49px;
  width: 506px;
}

.main__input_background-13-13-13-color-fff {
  background: #131313;
  color: #fff;
}

.color-fff {
  color: #FFF;
}

.main__button_width-213-height-51 {
  width: 213px;
  height: 51px;
  align-self: flex-end;
}

.main__h3_font-family-nunito-text-align-center {
  font-family: "Nunito Sans";
  text-align: center;
}

.main__text_color-255-255-255 {
  color: rgba(255, 255, 255, 0.50);
}

.main__input_color-placeholder-fff::placeholder {
  color: #fff;
}

.main__input_padding-bot-9 {
  padding-bottom: 9px;
}

.main__text_color-gold {
  color: #E3B873;
}

.main__help-save {
  display: flex;
  position: relative;
}

.main__img-help-save {
  position: relative;
  top: -21px;
}

.main__work-examples {
  margin-top: 242px;
  display: flex;
  position: relative;
}

.main__work-examples-left {
  margin: 137px 211px 97px 99px;
  z-index: 1;
}

.main__list_work-examples {
  margin-top: 47px;
}

.main__item_work-examples {
  padding: 0 0 2px 0;
  color: #FFF;
  font-size: 20px;
  line-height: 190.96%;
  transition: color 0.3s ease;
}

.main__item_work-examples:hover {
  cursor: pointer;
  color: #E3B873;
  padding-bottom: 1px;
  border-bottom: 1px solid #E3B873;
}

.main__img_work-examples-bg {
  position: absolute;
  top: 0;
  z-index: 0;
}

.main__work-examples-right {
  z-index: 1;
}

.main__img_work-examples {
  position: absolute;
}

.main__img_work-examples-width-354px-height-557 {
  width: 354px;
  top: -39px;
  left: 591px;
}

.main__img_work-examples-width-354px-height-275 {
  width: 354px;
  top: -110px;
  left: 984px;
}

.main__img_work-examples-width-354px-height-350 {
  width: 354px;
  top: 549px;
  left: 591px;
}

.main__img_work-examples-width-354px-height-625 {
  width: 354px;
  top: 200px;
  left: 984px;
}

.main__our-clients {
  height: 1108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main__text_our-clients {
  display: flex;
  gap: 23px;
  align-items: center;
}

.main__text-block_our-clients {
  width: 376px;
  height: 100%;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
  padding: 24px 32px 67px 20px;
  position: relative;
}

.main__btn_our-clients-img {
  position: absolute;
  top: 379px;
  left: 0px;
  width: 293px;
}

.main__img-our-clients-sub-1 {
  position: absolute;
  top: 685px;
  left: -46px;
  z-index: -1;
  opacity: 0.04;
}

.main__img-our-clients-sub-2 {
  position: absolute;
  top: 685px;
  left: 715px;
  z-index: -1;
  opacity: 0.04;
}

.main__how-to-find-us {
  position: relative;
}

.main__personal-information-input-block_form_questions {
  width: 883px;
  position: absolute;
  top: -303px;
  left: 240px;
}

.main__how-to-find-us-bg {
  position: absolute;
  top: 28px;
  z-index: -10;
}

.main__how-to-find-us-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 1;
  /* для того, чтобы картинка затемнилась */
}

.main__consent_align-center {
  align-self: center;
}

.main__button_align-center {
  align-self: center;
}

.main__form_questions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "main__input-block-1 main__input-block-2"
    "main__input-block-3 main__input-block-3";
  padding: 0 181px 0 181px;
}

.main__input-block-1 {
  grid-area: main__input-block-1;
}

.main__input-block-2 {
  grid-area: main__input-block-2;
  padding-left: 58px;
}

.main__input-block-3 {
  grid-area: main__input-block-3;
}

.main__how-find-us {
  padding-top: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__h3_align-center {
  text-align: center;
}

.main__social {
  display: flex;
  gap: 15px;
  padding: 26px 0 44px;
}