*{
  box-sizing: border-box;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #131313;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1440px;
  /* max-width: 1263px; */
  height: 100%;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  z-index: 1000;
  width: 100vw;
  display: flex;
  background-color: #131313;
  color: #fff;
  padding: 36px 0;
  font-size: 11px;
  text-align: center;
}
.header__nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 95px;
  align-items: center;
}
.header__logo {
  color: #E3B873;
}
.header__list {
  display: flex;
  gap: 47px;  
}
.header__item {
  
}
.header__item:hover a{
  color: #E3B873;
}
.header__link {
  transition: color 0.3s ease;
}
.header__contact-information {
  display: flex;
  gap: 45px;
  align-items: center;
}
.header__phone {
  color: #E3B873;
  text-decoration: underline;
}
.btn {
  text-align: center;
  font-style: italic;
  border-radius: 2px;
  background: #E3B873;
  box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
  border: none;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 11px;
}
.header__btn {
  width: 161px;
  height: 37px;
}
.btn:active {
  background: #e3b87390;
}
.main {
  margin-top: 109px;
  

}
.main__introduction {
  display: flex;
  flex-flow: column;
  background: no-repeat center/100% url(/img/main-main.jpg);
  /* height: 620px; */
  color: #FFF;
  padding: 165px 0 208px 134px;
  position: relative;
  z-index: 0; /* для того, чтобы картинка затемнилась */
}
.main__introduction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1; /* для того, чтобы картинка затемнилась */
}

.main__h1 {
  font-family: Yeseva One;
  font-size: 40px;
  line-height: 132.825%; 
  text-transform: uppercase;
}
.main__h1_color-gold {
  color: #E3B873;
}
.main__text {
}
.main__text_margin {
  margin-top: 25px;
  margin-bottom: 31px;
}
.main__text_line-height {
  line-height: 32px;
}
.main__buttons {
  display: flex;
  gap: 20px;
}
.main__btn {
  width: 207px;
  height: 51px;
}
.main__btn_transparent {
  background: transparent;
  box-shadow: none;
  border: 1px solid #FFF;
}
.main__btn_transparent:active {
  background: #00000070;
}
.main__completed-projects {
  background: #131313;
  color: #fff;
  display: flex;

}
.main__text-block {
  margin: 176px 50px 414px 134px;
}
.main__h2 {
  color: #E3B873;
  font-family: Yeseva One;
  font-size: 27px;
  font-weight: 400;
  line-height: 138.6%;
  letter-spacing: -1.89px;
  text-transform: uppercase;
}
.main__text {
  color: #FFF;
  font-size: 14px;
  line-height: 190.96%;
}
.main__text_margin-34-42 {
  margin-top: 34px;
  margin-bottom: 42px;
}
.main__h3 {
  color: #E3B873;
  font-family: Yeseva One;
  font-size: 18px;
  font-weight: 400;
  line-height: 138.6%;
  text-transform: uppercase;
}
.main__text-block_grid { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 34px 34px;
  grid-auto-flow: row;
  grid-template-areas:
    "main__text-block_1 main__text-block_2"
    "main__text-block_3 main__text-block_4";
}

.main__text-block_1 {
  grid-area: main__text-block_1; 
}

.main__text-block_2 { 
  grid-area: main__text-block_2; 
}

.main__text-block_3 {
  grid-area: main__text-block_3; 
}

.main__text-block_4 {
  grid-area: main__text-block_4; 
}


.main__text-block_block {
  
}
.main__slider {
  margin-top: 80px;
}
.main__img-block {
}
.main__switch-by-pressing {
  display: flex;
  gap: 60px;
  margin: 107px 0 52px;
}
.main__text-switch {
  color: rgba(255, 255, 255, 0.30);
  font-family: Yeseva One;
  font-size: 14px;
  line-height: 138.6%;
  text-transform: uppercase;
  cursor: pointer; 
  padding-bottom: 9px;

}
.main__text-switch:hover {
  color: #E3B873;
  padding-bottom: 7px;
  border-bottom: 1px solid #E3B873;
}
.main__img img{
  width: 100%;
  object-fit: cover;
}
.main__img-completed-projects {
  position: relative;
  z-index: 0;
}
.main__img-completed-projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 1;
}
.main__sub-title {
  margin-top: 92px;
}
.main__h3_sub-title {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.6%;
  text-transform: uppercase;
}
.main__img_margin-31 {
  margin-left: 31px;
}
.main__completed-projects-sub {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__text_color-black {
  color: black;
}
.main__text_color-54-54-54 {
  color: rgba(54, 54, 54, 0.50);
}

.img {
}
.main__img {
}
.main__img_width-817px {
  width: 817px;
  z-index: 100;
  position: absolute;
  top: -248px;
  left: 308px;

}
.main__text_padding-top-267 {
  padding-top: 267px;
  text-align: center;
  position: relative;
}
.main__text_border-top::before {
  content: '';
  position: absolute;
  top: 240px;
  left: 230px;
  border: 1px solid #E3B873;
  border-radius: 30px;
  width: 55px;
}
.main__text_border-top {

}
.main__text {
}
.main__personal-information-input-block {
  display: flex;
  gap: 58px;
  margin: 91px 0 35px;
}
.main__input {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.30);
}
.main__input:focus {
  outline: none;
}
.main__input::placeholder{
  color: #363636;

}
.main__input-block {
  display: flex;
  flex-direction: column;
}
.main__button {
  width: 200px;
  max-height: 51px;;
}
.main__button {
}
.main__consent {
}
.main__label {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
}
.main__checkbox {
  display: none;
}
.main__fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.main__fake::before{
  content:"\2714";
  opacity: 0;
  transition: 0.2s;
}
.main__checkbox:checked + .main__fake::before{
  opacity: 1;
}